/*=======================
CONFIGURAÇÕES GERAIS
=========================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #141414;
  color: #ffffff;
  min-height: 100vh;
}

/*===================
HEADER
=====================*/
header {
  background-color: #000000;
  padding: 20px 40px;
  text-align: center;
  border-bottom: 2px solid #e50914;
}

header h1 {
  font-size: 2rem;
  text-align: left;
  color: #e50914;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header span {
  display: block;
  text-align: left;
  color: #aaa;
  font-size: 0.85rem;
  margin-top: 12px;
  margin-bottom: 20px;
}

/*===========================
CONTAINER PRINCIPAL E GRID
=============================*/
main {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.grid-catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  width: 100%;
  justify-content: center;
}

/*===============
CARD DE FILMES
=================*/
.card-filme {
  width: 100%;
  max-width: 250px;
  background-color: #1f1f1f;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-filme:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.card-filme img {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  align-self: center;
  padding: 10px;
  border-radius: 0px;
}

.card-filme-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.card-filme h3 {
  font-size: 0.95rem;
  color: #ffffff;
}

.card-filme p {
  font-size: 0.8rem;
  color: #aaaaaa;
  line-height: 1.2;
}

/*===========================
BOTÃO DE ASSISTIR
=============================*/
.btn-assistir {
  display: inline-block;
  text-align: center;
  background-color: #e50914;
  color: #ffffff;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.85rem;
  margin-top: auto;
  transition: background-color 0.2s;
}

.btn-assistir:hover {
  background-color: #b80710;
}

/*===========================
BARRA DE PESQUISA DE FILMES
=============================*/
.search-container {
  margin-top: 15px;
  display: flex;
  justify-content: right;
}

#input-busca {
  width: 100%;
  max-width: 300px;

  padding: 10px 16px;
  font-size: 0.95rem;

  border-radius: 20px;
  border: 1px solid #333;

  background-color: #222;
  color: #fff;

  outline: none;
  transition: all 0.3s ease;
}

#input-busca:focus {
  border-color: #e50914;
  box-shadow: 0 0 8px rgba(229, 9, 20, 0.5);
  background-color: #2a2a2a;
}

/*=======================
RESPONSIVIDADE
=========================*/

@media (max-width: 1024px) {

  .grid-catalogo {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

}

@media (max-width:700px) {

  .grid-catalogo {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .card-filme {
    max-width: none;
  }

  .card-filme h3 {
    font-size: .85rem;
  }

  .card-filme p {
    font-size: .75rem;
  }

  .btn-assistir {
    font-size: .8rem;
    padding: 8px;
  }

  .search-container {
    justify-content: center;
  }

  #input-busca {
    max-width: 100%;
  }

}

@media (max-width:400px) {

  .grid-catalogo {
    gap: 10px;
  }

  .card-filme-info {
    padding: 8px;
  }

  .btn-assistir {
    font-size: .75rem;
  }

}
